<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
        
    </head>
    
    <body>
        <main>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Verificar Aniversário</button>
            </form>
            <p>{{ mensagem }}</p>
        </main>
    </body>
</html>